body {
	background-color: #9195a3;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
	text-align: center;

}

.box {
    width: 200px; 
    height: 450px; 
    background-color: #829d9c; 
    border: 2px solid rgb(77, 62, 62); 
    padding: 10px; 
  }

  .newProduct {
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: #b2b6b6; 
  }

  .form {
    display: flex;
    flex-direction: column;
  }
